.proxy {
    position: absolute;
    box-sizing: border-box;
    min-width: 100px;
    min-height: 50px;
    display: grid;
    grid-template-areas:
                        ". top ."
                        "left center right"
                        ". bottom .";
    grid-template-rows: 20px 1fr 20px;
    grid-template-columns: 20px 1fr 20px;
    align-items: stretch;
}

.connector {
    /*border: 1px solid dimgray;*/
    border-radius: 4px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 20px;
    grid-area: top;
}

.bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 20px;
    grid-area: bottom;
}

.center {
    text-align: center;
    border: 1px solid dimgray;
    grid-area: center;
    display: flex;
    align-items: stretch;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 20px;
    max-width: 20px;
    grid-area: left;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-width: 20px;
    max-width: 20px;
    grid-area: right;
}
